@media only screen and (max-width: 320px) {
  [class~=extra] {
    display: none; }
  footer {
    height: 240px;
    padding-left: 40px; } }

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .navbar-nav li a {
    width: auto;
    margin: 0;
    padding: 0; }
  [class~=extra] {
    display: none; }
  footer {
    height: 200px; } }

@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .navbar-nav li a {
    margin: 0; }
  .pagination {
    max-width: 500px; }
  footer {
    height: 160px; } }

@media only screen and (min-width: 1200px) {
  .navbar-nav li a {
    margin: 0 35px; }
  footer {
    height: 80px;
    padding: 20px 40px 0 40px; } }
