@media only screen and (max-width: 320px) {
  [class~=extra] {
    display: none; } }

footer {
  height: 400px;
  padding-left: 40px; }

.social-icon li a {
  margin: 15px;
  padding: 0; }

.dotted ul li {
  position: relative;
  top: 10px;
  left: 10%; }

.dotted ul li {
  position: relative;
  top: 10px;
  left: 10%; }

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .navbar-nav li a {
    width: auto;
    margin: 0;
    padding: 0; }
  [class~=extra] {
    display: none; }
  footer {
    height: 300px; } }

.dotted ul li {
  position: relative;
  top: 10px;
  left: 10%; }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-nav li a {
    margin: 0; }
  .pagination {
    max-width: 500px; }
  footer {
    height: 200px; } }

.dotted ul li {
  position: relative;
  top: 10px;
  left: 20%; }

@media only screen and (min-width: 1200px) {
  .navbar-nav li a {
    margin: 0 32px; }
  footer {
    height: 80px;
    padding: 20px 40px 0 40px; } }
